h1 {
    color: orange;
    font-family: Arial;
    font-weight: bold;
    text-align: center ;
    background-color: blue;
}

p {
    font-size: 130%;
}

#intro {
    background-color: yellow;
}

.first {
    font-size: 500%;
}

#intro .first {
    color: Red;
}
